Flask==0.10.1
Flask-Cors==1.3.0
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.21
SQLAlchemy==0.9.4
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.24
six==1.6.1
stevedore==0.15
virtualenv==1.11.5
virtualenv-clone==0.2.5
virtualenvwrapper==4.2
wsgiref==0.1.2
